[submodule "openvpn"]
	path = openvpn
	url = git@github.com:wget/chocolatey-package-openvpn.git
[submodule "openvpn_community"]
	path = openvpn-community
	url = git@github.com:wget/chocolatey-package-openvpn-community.git
[submodule "keeweb"]
	path = keeweb
	url = git@github.com:wget/chocolatey-package-keeweb.git
[submodule "securepointsslvpn"]
	path = securepointsslvpn
	url = git@github.com:wget/chocolatey-package-securepointsslvpn.git
[submodule "mattermost-desktop"]
	path = mattermost-desktop
	url = git@github.com:wget/chocolatey-package-mattermost-desktop.git
